

.switch{
z-index: 650;
position: absolute; 
top: 10.2%;
right: 2%;

}

.App {
  display: flex;
  flex-direction: column;

height: 100%;
min-width: 100%;
}

button {
  padding: 0;
  margin: 0;
  background-color: none;

}





.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  position: relative;
  width: 100%;
  /* justify-self: flex-end; */
  /* margin: 2vh 0 0 0; */
  margin-top: auto;
  background-color: black;
  box-shadow: black 0px 0px 10px 10px;
  /* position: sticky; */
  /* padding-top: 10vh; */
  bottom: 0;
}