.dropzone-div{
    /* position: absolute; */
    height : 5vh;
    z-index: 500;  
    margin-bottom: 1vh;
       z-index: 2500;

  }
  
  .dropzone-div > input{
  /* position: absolute; */
    height : auto;
    width: 100%;
 

  }
  .dropzone-div >  p{
    padding-top: 1vh;
    text-align: center;
    font-family: Oswald;
  
    color: black;
  }


  
  .exaside{
    /* display: flex; */
    flex-direction: column-reverse;
    /* flex-flow: row-reverse; */
    margin: 0;
  padding: 0;
  position: relative; 
  width: 100%;

       /* display: flex;
       flex-direction: row; */
  }


.preview-cart{
  display: flex;
  flex-direction: row-reverse;
  max-width: 60%;  
  max-height: 40%;  
    background-color: aliceblue;
    padding: 10px;
    border-radius: 8px;
}
.preview-cart > * {
  margin:auto;
padding: 0;
z-index: 2500;
max-width: 80%;

/* max-height: 40%; */

}