.dropzone-div{
    /* position: absolute; */
    height : 5vh;
    z-index: 500;  
    margin-bottom: 1vh;
       z-index: 2500;
  }
  
  .dropzone-div > input{
  /* position: absolute; */
    height : auto;
    width: 100%;
 

  }
  .dropzone-div >  p{
    padding-top: 1vh;
    text-align: center;
    font-family: Oswald;
  
    color: black;
  }

  .exaside{
    display: inline-flex;
    /* margin: 0;*/
    /* padding: 0;  */
    

  }


.preview-cart{
  display: flex;
  
  max-width: 60%;
}
.preview-cart > * {
  margin:auto;
padding: 0;
z-index: 2500;
max-width: 80%;

/* max-height: 40%; */

}