@font-face {
    font-family: NothingYou;
    src: url('/client/public/NothingYouCouldDo-Regular.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

.login-register-wrap{
    /* width: 100%; */
    margin: auto;
    width: 80%;
}


.login-register{
    display: flex;
    /* flex-direction: column; */
    /* position: relative; */
    /* left: 40%; */
    margin:10vh 0 10vh 0;
    /* top: 100%; */
    justify-content: space-around;
    align-items: center;

    
}

.registration{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-top: 5vh;
}

.login{
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.login-register > * {
    font-family: 'Courier New', Courier, monospace
}

.login-register input{
    z-index: 2000;
    width: 100%;
    margin:  1vh 0;
}
.login-register h2 {
    z-index: 0;

}

.logout{
    position: relative;
    left: 50%;
    z-index: 250;
}


.otherlog{
    display: flex;
    height: 20vh;
    justify-content: center;
}


.registration > h2{
    display: flex;
    flex-direction: row;
    width: max-content;
    font-size: 4em;
}
.login > h2{
    display: flex;
    flex-direction: row;
    width: max-content;
    font-size: 4em;
}




.account-main{
    display: flex;
    height: 100vh;
    margin-top: 10vh;
    justify-content: space-around;
  /* width: 80%; */
}
.user-auth-true{
/* height: 100vh; */
height: 100%;
width: 100%;

}
.user-welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height: 25%;
    width: 100%;
 
}

.user-welcome #username{
       font-family: NothingYou;
       color: black;
       letter-spacing: -0.1em;
}

.dashboard{
 font-family: Oswald;
 display: flex;
 width: 100%;
 justify-content: space-evenly;
}


.user-infos{
    background-color: rgb(0, 0, 0);
    display: flex;
    height:60vh;
    /* border: red solid 2px; */
    border-radius: 8px;
    /* position: relative; */
    left: 5%;
    width: 20%;
   
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.693) -5px 5px 10px 5px;
}
.personnal-infos{
    display: flex;
    height: 100%;
}
.personnal-infos #list{
    height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.personnal-infos #list > #adress{
    line-height: normal;
}

.user-activities{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding:  1% 0; */
}

.user-activities > .order-history{
    display: flex;
    height: 30%;
    align-items: center;
    border: black solid 2px;
    border-radius: 12px;
    justify-content: center;
}

.user-activities > .saved-guitars{
    display: flex;
    height: 60%;
    align-items: center;
    border: black solid 2px;
    border-radius: 12px;
    justify-content: center;
}