.e-shop, .cart{
    margin-top: 20vh;
    font-family: Oswald;
}

.parts-products{

    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    

      margin: 60px auto;
      max-width: 80%;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 2px
}


.cart-actions{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sub-cart{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}