.title-overlay {
  margin: 2rem 0px 0px 4rem; 
  position: absolute;  
  z-index: 100;
 
}

.home{
  /* margin: 4rem 0px 0px 6rem; */
  position: absolute;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.886) ;
  width: 50vw;
 /* border: red solid 2px */
}

.home > h1 {
  font-size: 12rem;
  letter-spacing: -8px;
text-shadow: -0.1em 0.05em 0.1em rgba(90, 90, 90, 0.598);
line-height: 2ch;
text-transform: uppercase;
}

.to {
text-align: left !important;
font-size: 8rem;
position: absolute;
margin-top: -3vh;  
}

/* .plank{
  top: 5vh;
  left: -2vw;
  height: 50vh;
  width: 50vw;
  z-index: -10;
  position: absolute;
  transform: rotate(-12deg);
  filter :drop-shadow( -0.1em 0.5em 0.5em rgba(46, 46, 46, 0.598))
} */
.logo {
  height: 16vw;
margin-left: 1rem;
  margin-top: 10rem;
  transform: rotate(-10deg);

  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  filter :drop-shadow( -0.1em 0.5em 0.5em rgba(46, 46, 46, 0.598))
}



.arrowdown{
  margin-top: 10rem;
  width: 5vw;
}