.navbar{
  display: flex;
width: 100%;
z-index: 250;
height: auto;
position: absolute;
}

.navbar .navbar-logo{
  /* z-index: 200; */
  /* position: absolute; */
  margin: none;
  left: 0%;
  transform: rotate(-10deg);

  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  filter :drop-shadow( -0.1em 0.5em 0.5em rgba(46, 46, 46, 0.598));
  width: 30%;
}


.navbar-logo.hidden{
  display: none;

}

.navbar-main{
/* position: absolute; */
   /* position: relative; */
   width: 100%;
   display: flex;
   justify-content: flex-end;
  
    margin-left: auto;
    height: 5vh;
left: 74vw;
    width: 25.2vw;
    font-size: 2rem;
    z-index: 100;

}


.navbar-triangle {
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
}



.navbar-cont{

    display: flex;
    margin-top: 8vh;
    margin-right: 0;
    padding-right: 8vw;
    width: 40vw;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.878);
}



ul {
    list-style: none;
    
    
  }
  
  li{
    display: inline;
  }


  #triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    margin-left: -3.43vw;
    margin-top:8vh;
    /* left: 5.01%; */
    border-top : 4rem solid rgb(0, 0, 0, 0.878);
    border-left : 4rem solid transparent;
    /* position:absolute; */
   }

   