.main-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
  }
  .visu-sum {
    display: flex;
    flex-direction: row;
  }
  .selector-section {
    display: flex;
    border: black solid 2px;
    /* flex-direction: column; */
    width: 80vw;
    height: 5vh;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
  .selector-section select {
    margin: 5px 10px;
    height: 2rem;
  }
  
  .list-sum {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
  }

.item-price{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}
  

.buttonselect{
  margin-left: 50vw;
}