.visualizer {

  height: 140vh;
 width: 99vw;
  z-index: 10000 !important;
  margin-bottom: 10vh;
  /* box-shadow: 0 0 20px 10px #0000008e; */
}
.mainviz{
  height: 140vh;
}
.canvas {
height: 150vh;
  /* max-width: 100vw; */
  /* background-color: rgb(230, 230, 230); */
  background: rgb(196, 196, 196);
  z-index: 50 !important;
}

#select-guitarset {
  position: absolute;
  margin-left: 70vw;
  z-index: 500;
}

#clickedPart .p-inputtext {
  /* padding: 1.5rem 1.5rem ; */
  /* position: absolute; */
  /* box-shadow: 0 0 10px 5px rgba(129, 129, 129, 0.467); */
}

.dropzone-div{
  position: absolute;
  height : 10vh;
  z-index: 500;
  background-color: aliceblue;
}

.dropzone-div > input, p{
  height : 10vh;
  width: 100%;
  z-index: 500;
  background-color: aliceblue;
  color: black;
}